@media all and (max-width: 450px) {

	// GENERAL

	.head_one {
		display: none;
	}

	.head_two {
		display: block;
		.image {
			// margin-right: 40px;
			display: block;
		}
	}

	.images {
		width: 100%;
		height: 50px;
		// position: relative;
		.image {
			position: absolute;
			top: 10px;
			right: 0;
			height: 240px;
			width: auto;
		}
	}

	.portfolio_image {
		height: 240px;
		.image {
			position: static;
		}

	}

	div.portfolio_content {
		height: 350px;
	}

	.blog {
		display: none;
	}

	.blog_media_query {
		display: block;
	}

	.blog_image {
		margin-top: 50px;
		height: 240px;
		.images_carousel {
			right:0;
		}
		.image {
			position: static;
		}

	}

	div.blog_content {
		height: 460px;
	}

	


	.content {
		width: 100%;
		// position: absolute;
		float: none;
		height: 600px;
		.page_nav {
			margin: 15px 0px 0px 0px;
			// padding: 0;
			// float:right;
			// color: #222222;
			// text-transform: uppercase;
			li {
				// float: left;
				// list-style-type: none;
				margin: 0px 20px 0px 0px;
				font-size: 12px;
				// &:hover {
				// 	color: $accent-color-two;
				// }
			}
		}
	}	

	.content {
		// width: 100%;
		// // position: absolute;
		// float: none;
		// height: 600px;
		.header_nav {
			// margin: 15px 0px 0px 0px;
			// padding: 0;
			// float:right;
			// color: #222222;
			// text-transform: uppercase;
			display: none;
			position: absolute;
			top: 160px;
			left: -25px;
			li {
				float: none;
				// list-style-type: none;
				margin: 10px 20px 0px 0px;
				// font-size: 12px;
				// &:hover {
				// 	color: $accent-color-two;
				// }
			}
		}
	}	

	// nav.header_nav {
	// 	display: none;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 125px;
	// 	ul a li {
	// 		float: none;
	// 	}
	// }

	.header__hamburger {
		display: block;
		// width: 30px;
		// height: 30px;
		// position: absolute;
		top: 150px;
		left: 20px;
		// display: none;
		// fill: $accent-color;
		// &:hover {
		// 	fill: $accent-color-two;
		// 	cursor: pointer;
		// }
	}	


	.content_container {
		max-width: 300px;
		margin: 225px auto 0px auto;
		// position: relative;
		// clear: both;
		.page {
			// font-weight: normal;
			margin: 40px 0px 0px 0px;
			font-size: 16px;
			// text-transform: uppercase;
			// letter-spacing: 2px;
			&:after {
				// content: " ";
				// display:block;
				margin: 15px 0px 0px 0px;
				// width: 75px;
				// height: 1px;
				// background-color: $primary-color;	
			}
		}
		.title {
			font-size: 30px;
			// color: #1f1f1f;
			// font-family: $title-font-stack;
		}
		.body {
			line-height: 1.5;
			font-size: 14px;
		}
		// for the portfolio and blog sections
		.body + p { 
			font-size: 14px;
			margin: 0px;
		} 
		.more {
			margin: 30px 0px 0px 0px;
			// .decoration {
			// 	float:left;
			// 	width: 30px;
			// 	height: 1px;
			// 	background-color: $primary-color;
			// }
			// .more_content {
			// 	float:left;
			// 	margin: 0px 0px 0px 40px;
			// }
		}
	}

	// HEADER

	header {
		height: 800px;
	}

	.header_image {
		float: none;
		// background: linear-gradient(rgba(7, 87, 91, 1), rgba(7, 87, 91, 1) ), url(images/head-back5.jpeg);
		// background-size: cover;
		// background-attachment: fixed;
		// background-position: bottom left;
		// .head-shrink {
		// 	width: auto;
		// 	float: right;
		// }
	}

	.header_content {
		height: 500px;
	}


	.header_social_nav, .skillz {
		// margin: 10px 0px 0px 0px;
		// padding: 0px;
		li {
			// padding: 0px;
			// float: left;
			font-size: 22px;
			// list-style-type: none;
			// margin-right: 10px;
		}
	}

	.skillz {
		li {
			font-size: 14px;
			// line-height: 1.5;
		}
	}

	// PORTFOLIO

	.body_container_two {
		display: block;
	}

	.body_container {
		display: none;
	}

	.portfolio {
		border: 2px solid $accent-color;
	}

	.portfolio_container{
		margin: 65px auto 0px auto;
	}

	.portfolio_content {
		.page_nav {
			margin: -5px 0 0;
		}
	}

	.portfolio_content_container {
		// position: absolute;
		// background-color: #fff;
		height: 300px;
		// display: none;
	}

	.content .right_left {
		li {
			// color: #fff;
			padding: 7px 20px;
			// background-color: $accent-color;
			// &:hover {
			// 	background-color: $accent-color-two;
			// 	color: #fff;
			// 	cursor: pointer;
			// }
		}
	}

	.content .portfolio_more .more_content {
		// margin: 0px 10px;
		a {
			// text-transform: uppercase;
			font-size: 14px;
		}
	}

	// BLOG 
	.blog {
		position: relative;
	}

	.blog_container {
		margin: 85px auto 0px auto;
	}

	.blog_content_container {
		// position: absolute;
		// background-color: #fff;
		height: 600px;
		// display: none;
	}

	.content .blog_more .more_content {
		// margin: 0px 10px;
		a {
			// text-transform: uppercase;
			font-size: 14px;
		}
	}

	// FOOTER 
	.box {
		height: 240px;
		// max-width: 100%;
		background-color: #fff;
	}

	.all_devices {
		// height: calc (188px + 188px);
		width: 300px;
		
		// margin: 0 auto;
		// position: relative;
		top: 25px;
	}

	.laptop {
		// ratio of 16:10 or 1.6
		height: 188px;
		width: 300px;
		
		// margin: 0px auto;
	}

	.laptop img {
		// width: 100%;
		// height: 100%;
		border: 1px solid $accent-color;
	}
	.other {
		height: 188px;
		width: 300px;
		display: none;
		
		// margin: 0px auto;
	}
	.other_tablet {
		// float: left;
		// height: 150px;
		// width: 70%;
		
	}
	.tablet {
		// ratio is 4:3 or 1.33
		width: 200px;
		max-height: 150px;
		
		// margin: 0 auto;
		// position: relative;
		top: calc( (188px - 150px) / 2 );
	}
	.tablet img {
		// width: 100%;
		// border: 1px solid white;
	}
	.other_phone {
		// float: left;
		// height: 250px;
		// width: 30%;
	}
	.phone {
		// ratio is 2:3 or .67
		width: 75px;
		height: 112px;
		// margin: 0 auto;
		// position: relative;
		top: calc( (188px - 112px) / 2 );
	}

	.phone img {
		// width: 100%;
		// border: 1px solid white;
	}

	
	// also see .images and .image in global

	// FOOTER

	// .footer_map {
	// 	float: left;
	// }
	#mapid { 
		height: 500px;
		width: 100%;
	}

	.footer_container {
		margin: 0px auto 0px auto;
		padding-top: 30px;
		padding: 1px;
		// i {
		// 	font-size: 25px;
		// 	padding: 5px;
		// 	margin-right: 15px;
		// 	&:hover {
		// 		background-color: $accent-color-two;
		// 		cursor: pointer;
		// 	}
		// }
		// a {
		// 	color: #fff;
		// }
	}

	.footer_content {
		height: 600px;
		// background-color: #07575B;
		// .page {
		// 	color: #fff;
		// 	&:after {
		// 		background-color: #fff;
		// 	}
		// }
		// .title {
		// 	color: #fff;
		// }
	}

	form {
		width: 320px;
		margin: 0 auto;
		textarea{
			width: 90%;
			margin: 0px 0px 20px 0px;
			height: 200px;
			color: $title-font-stack;
		}
		input[type="text"] {
			width: 90%;
			height: 40px;
			display: block;
			float: none;
			margin: 20px 0px 20px 0px;
			color: $title-font-stack;
		}
		input[type="email"] {
			width: 90%;
			height: 40px;
			display:block;
			float: none;
			margin: 20px 0px 20px 0px;
			color: $title-font-stack;
		}
		input[type="submit"] {
			padding: 10px 0px;
			width: 100px;
			text-align: center;
			background-color: #fff;
			text-transform: uppercase;
			font-size: 12px;
			border: none;
			&:hover {
				background-color: $accent-color-two;
				color: #fff;
			}
		}
	}


}