$title-font-stack:'Playfair Display', serif; 
$paragraph-font-stack: 'Lato', sans-serif;

$primary-color: #1f1f1f;
$accent-color: lighten(#07575B, 10%);
$accent-color-two: lighten($accent-color, 10%);
$light: lighten(#e4e9e5, 5%);

$primary-background-color: #ffffff;
$second-background-color: #222222;
$third-background-color: #333333;


